body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}
header {
  position: relative;
  width: 100%;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  z-index: 900;
}

header a {
  color: white;
  text-decoration: none; 
  transition: color .1s;
}

header h1 a {
  padding: 30px 0;
}

nav a {
    padding: 42px 0 34px 0;
}

header a:hover {
  color: #F06C64;
}

.logo {
  position: relative;
  top: 14px;
  color: white;
  font: bold 12px Lato;
  text-transform: uppercase;
}

.logo span {
  color: #f06c64;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  min-width: 860px;
  padding: 0 40px;
  margin: 0 auto;
  font: bold 11.3px Lato;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  width: 371px;
  color: #494e62;
}

/*Slider section*/

.slider {
  position: relative;
  top: -5px;
  border-bottom: 6px solid #ea676b;
  background-color: #f06c64;
  z-index: 800;
}

.slider > .wrapper {
  align-items: center;
}

.slider button {
  height: 27px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.prev {
  margin-left: 2px;
  margin-right: 53px;
}

.next {
  margin-left: 54px;
  order: 3;
}
.next img {
  transform: rotate(180deg);
}
.slider button:hover {  
  
}


.slider button i {
  font-size: 30px;
}

.container {
  flex-grow: 1;
  margin: 54px 0 60px 0;
  order: 2;
}

.slide {
  position: relative;
  top: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.iphone-blue {
  position: relative;
  top: -1px;
}

/*Main Section*/

main {
  color: #666d89;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 40px;
}

main > h1 {
  font: 900 30px Lato;  
  color: #666d89;
  margin-top: 54px;
  margin-bottom: 18px;
  letter-spacing: -0.15px;
  }

main > p {
  margin: 0;
  font: 300 18px Lato;
  line-height: 1.7em;
  text-align: justify;
}

.list-wrapper {
  display: flex;
  justify-content:space-between;
  margin-top: 16px;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
}

.list-wrapper li {
  display: flex;
  justify-content:space-between;
  margin-top: 28px;
}

.list-wrapper h2 {
  font: 900 17.5px Lato;
  color: #666d89;
  list-style: none;
  margin: 0;
}

.list-wrapper h2 > span {
  letter-spacing:;
}

.list-wrapper p {
  max-width: 220px;
  margin: 0;
  margin-top: 8px;
  font: 400 11px Lato;
  line-height: 2;
  color: #666d89;
  list-style: none;
  text-align: justify;
  letter-spacing: .4px;
}


.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  height: 59px;
  width: 59px;
  margin: 2px 20px 0 0;
  border: 2px solid #666d89;
  border-radius: 29.5px;
}

.icon img {

}