* {
  margin: 0;
  padding: 0;
  font-family: Lato, Arial, Helvetica, sans-serif;
  list-style-type: none;
  text-decoration: none;
}

body {
  background: #f2f2f2;
}

/*--------------
  HEADER SECTION
  --------------*/

header {
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
  letter-spacing: 0.1px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 900;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  min-width: 860px;
  padding: 0 40px;
  margin: 0 auto;
}

header a {
  text-decoration: none; 
  color: white;
  transition: color .1s;
}

.nav-link {
  padding: 42px 0 32px 0;
  font-size: 12px;
}

header a:hover {
  color: #F06C64;
}

.logo {
  align-self: center;
  top: 14px;
  color: white;
  font: bold 12px Lato;
  text-transform: uppercase;
}

.logo span {
  color: #f06c64;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  width: 371px;
  color: #494e62;
}

.active-link {
  color: #f06c64;
}

/*--------------
  SLIDER SECTION
  --------------*/

.slider {
  position: relative;
  display: flex;
  height: 600px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 6px solid #EA676B;
  overflow: hidden;
}
.arrows {
  position: absolute;
  top: 49%;
  width: 100%;
  z-index: 999;
}

.arrows-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 940px;
  padding: 0 40px;
}

.chev {
  cursor: pointer;
}

.chev:hover {
  transform: scale(1.4);
}

.slide {
  position: absolute;
  width: 100%;
  height: 37.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-1 {
  background-color: #F06C64;
  z-index: 600;
}

.screen {
  position: absolute;
  cursor: pointer;
}

.on-off-screen {
  background-color: black;
}

.iphone-yellow {
  position: relative;
  padding-right: 73px;
}

.black-screen-vertical {
  top: 66px;
  left: 15px;
  width: 188px;
  height: 333px;
}

.iphone-blue {
  position: relative;
}

.black-screen-horizontal {
  top: 15px;
  left: 61px;
  width: 333px;
  height: 188px;
}

.slide-2 {
  background-color: #648BF0;
}

.left-side-phone {
  position: relative;
  left: 1.8em;
  z-index: 499;
}

.iphone-green {
  z-index: 500;
}

.right-side-phone {
  position: relative;
  left: -1.68em;
  z-index: 499;
}

.active-slide {
  z-index: 700;
}
  /*----------------
    SERVICES SECTION
    ----------------*/

.our-services {
  box-sizing: border-box;
  border-bottom: 6px solid #ffffff;
  overflow: auto;
  color: #666d89;
}

.our-services-wrapper {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 940px;
}

.our-services h1 {
  margin-top: 59px;
  margin-bottom: 18px;
  font: 900 30px Lato;  
  letter-spacing: -0.15px;
  color: #666d89;
}

.our-services p {
  margin: 0;
  font: 300 18px Lato;
  line-height: 1.7em;
  text-align: justify;
}

.services-list {
  display: flex;
  justify-content:space-between;
  margin-top: 16px;
  margin-bottom: 59px;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
}

.services-list li {
  position: relative;
  margin-top: 28px;
  margin-left: 80px;
}

.services-list li::before {
  content: "";
  position: absolute;
  left: -80px;
  top: 1px;
  box-sizing: border-box;
  height: 59px;
  width: 59px;
  margin: 2px 20px 0 0;
  border: 2px solid #666d89;
  border-radius: 29.5px;
  background-position: center;
  background-repeat: no-repeat;
}

.services-list li:nth-child(1)::before {
  left: -79px;
  background-image: url(./assets/icon/pen.png);
}

.services-list li:nth-child(2)::before {
  background-image: url(./assets/icon/bulb.png);
}

.services-list li:nth-child(3)::before {
  background-image: url(./assets/icon/heart.png);
}

.services-list li:nth-child(4)::before {
  left: -79px;
  background-image: url(./assets/icon/phone.png);
}

.services-list li:nth-child(5)::before {
  background-image: url(./assets/icon/bubble.png);
}

.services-list li:nth-child(6)::before {
  background-image: url(./assets/icon/star.png);
}

.services-list h2 {
  margin: 0;
  font: 900 17.5px Lato;
  letter-spacing: .27px;
  color: #666d89;
  list-style: none;
}

.services-list p {
  max-width: 220px;
  height: 6em;
  margin: 0;
  margin-top: 8px;
  overflow: hidden;
  font: 400 11px Lato;
  line-height: 2;
  color: #666d89;
  list-style: none;
  text-align: justify;
  letter-spacing: .4px;
}

.our-services .icon {
  position: absolute;
  box-sizing: border-box;
  height: 59px;
  width: 59px;
  margin: 2px 20px 0 0;
  border: 2px solid #666d89;
  border-radius: 29.5px;
}

/*-----------------
  PORTFOLIO SECTION
  -----------------*/

.portfolio {
  padding-bottom: 67px;
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
}

.portfolio-wrapper {
  max-width: 960px;
  padding: 0 40px;
  margin: 0 auto;
  overflow: auto;
  color: #666d89;
}

.portfolio h1 {
  margin: 66px 0 33px 0;
  padding: 0 10px;
  font-size: 30px;
  font-weight: 900;
  line-height: 23px;
  letter-spacing: -.2px;
  color: #666d89
}

.portfolio h2 {
  padding: 0 10px;
  font-size: 18px;
  font-weight: 300;
  line-height: 13px;
  color: #767e9e;
}

.portfolio nav ul {
  display: flex;
  padding: 0 10px;
}

.gallery-tab {
  box-sizing: border-box;
  padding: 0 7px;
  margin: 19px 10px 19px 0;
  border: 1px solid #666d89;
  border-radius: 5px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -.3px;
  font-kerning: normal;
  color: #767e9e;
  transition: border .1s;
  transition: color .1s;
  cursor: pointer;
}

.portfolio a {
  color: #767e9e;
}

.portfolio nav li:hover {
  border: 1px solid #dedede;
  color: #dedede;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  max-height: 601px;
  overflow: hidden;
}

.gallery li {
  height: 187px;
  width: 220px;
  margin: 0 10px 20px;
  overflow: hidden;
  background-color: #464b5e;
  color: white;
}

.active-tab {
  border: 1px solid #dedede;
  color: #dedede;
}

/*--------
  ABOUT US
  -------- */

.about-us {
  box-sizing: border-box;
  border-bottom: 6px solid #ffffff;
  background-color: #f2f2f2;
}

.about-us-wrapper {
  max-width: 940px;
  padding: 0 40px;
  margin: 0 auto;
  overflow: auto;
}

.about-us h1 {
  margin-top: 66px;
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: 900;
  line-height: 23px;
  letter-spacing: -.2px;
  color: #666d89;
  letter-spacing: -.2px;
}

.about-us p {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: .15px;
  color: #666d89;
}

.profiles-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 67px;
}

.profile {
  width: 300px;
}

.profile h2 {
  height: 1em;
  margin: 14px 0 10px 0;
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
  color: #666d89;
  overflow: hidden;
}

.profile .photo {
  width: 300px;
  height: 300px;
}

.profile p {  
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -.1px;
  color: #767e9e;
}

.social-media {
  display: flex;
  width: 100%;
}

.social-media i,
.profile .google-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  margin-top: 22px;
  margin-right: 8px;
  border: 1px solid #666d89;
  border-radius: 16px;
  color: #666d89;
  transition: color .1s;
  transition: border-color .1s;
  transition: background-color .1s;
}

.profile .google-plus {
  background-image: url(./assets/icon/icon_google+.png);
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image .1s;
}

.social-media i:hover,
.profile .google-plus:hover {
  color: #f2f2f2;
  border-color: #f2f2f2;
  background-color: #666d89;
}

.profile .google-plus:hover {
  background-image: url(./assets/icon/icon_google+_hover.png);
}

/*-------------------
  GET A QUOTE SECTION
  -------------------*/

.project-application {
  box-sizing: border-box;
  border-bottom: 6px solid #ea676b;
  background-color: #f06c64;
}

.content-box {
  padding: 0 40px;
  margin: 0 auto;
  max-width: 940px;
}

.application-header h1 {
  padding-top: 59px;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: -.2px;
  color: #f0d8d9;
}

.application-header p {
  padding-top: 18px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
  color: #f0d8d9;
}

.application-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 44px;
  padding-bottom: 13px;
}

.application-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 270px;
}

.application-form input,
.application-form textarea,
.application-form button {
  border: 1px solid #d6564f;
  border-radius: 3px;
  padding-left: 15px;
  margin-bottom: 16px;
  height: 36px;
  font-size: 12px;
  line-height: 38px;
  color: #f0d8d9;
  background-color: #d6564f;
  outline : none;
}

.application-form button {
  margin: 0;
  padding: 0;
  width: 100px;
  align-self: flex-end;
}

.application-form button:hover {
  border-color: #f0d8d9;
  background-color: #f0d8d9;
  color: #d6564f;
}

#detail {
  height: 202px;
  resize: none;
}

.application-form input::placeholder,
.application-form textarea::placeholder {
  color: #f48c8f;
}

.application-form input::-ms-input-placeholder,
.application-form textarea::-ms-input-placeholder {
  color: #f48c8f;
}

.contacts {
  margin-left: 21px;
  width: 300px;
  text-align: justify;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -.04px;
  color: #f0d8d9;
}

.contacts h2 {
  padding-bottom: 9px;
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: -.1px;
}

.contacts ul {
  margin-top: 20px;
}

.contacts a {
  position: relative;
  padding-left: 23px;
  color: #f0d8d9;
}

.contacts a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 13px;
  height: 13px;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts-icon span {
  display: none;
}

.contacts a:hover {
  text-decoration: underline;
}

.location::before {
  top: 2px;
  background-image: url(./assets/icon/location.png);
}

.phone::before {
  top: 1px;
  background-image: url(./assets/icon/phone_small.png)
}

.mail::before {
  top: 2px;
  background-image: url(./assets/icon/mail.png)
}

/*--------------
  FOOTER SECTION
  --------------*/

footer {
  color: #666d89;
  background-color: #2d303a;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 22px 40px;
  max-width: 940px;
  font: 400 12px "Myriad Pro", Arial;
}

.copyright {
  padding-bottom: 1px;
  padding-left: 2px;
}

.social-media-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-footer i,
footer .google-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  border: 1px solid #666d89;
  border-radius: 16px;
  font-size: 16px;
  color: #666d89;
  transition: color .1s;
  transition: border-color .1s;
  transition: background-color .1s;
}

footer .google-plus {
  background-image: url(./assets/icon/icon_google+.png);
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image .1s;
}

.social-media-footer i:hover,
footer .google-plus:hover {
  color: #2d303a;
  border-color: #666d89;
  background-color: #666d89;
}

footer .google-plus:hover {
  background-image: url(./assets/icon/icon_google+_footer_hover.png);
}