* {
  margin: 0;
  padding: 0;
  font-family: Lato, Arial, Helvetica, sans-serif;
  list-style-type: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f2f2;
}

#services,
#portfolio,
#about,
#contact {
  scroll-margin-top: 95px;
}


/*--------------
  HEADER SECTION
  --------------*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
  letter-spacing: 0.1px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 999;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  padding: 0 40px;
  margin: 0 auto;
  z-index: 2
}

.burger-menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  height: 65px;
  width: 65px;
  color: #FFFFFF;
  display: none;
  cursor: pointer;
  background-image: url(./assets/icon/Burger-menu-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.active-burger-menu {
  transform: rotateZ(90deg)
}

header a {
  text-decoration: none; 
  color: white;
  transition: color .1s;
}

.nav-link {
  padding: 42px 0 32px 0;
  font-size: 12px;
}

header a:hover {
  color: #F06C64;
}

.logo {
  align-self: center;
  top: 14px;
  color: white;
  font: bold 12px Lato;
  text-transform: uppercase;
}

.logo span {
  color: #f06c64;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  width: 371px;
  color: #494e62;
}

.active-nav-tab {
  color: #f06c64;
}

/*--------------
  SLIDER SECTION
  --------------*/

.slider {
  position: relative;
  display: flex;
  padding-top: 95px;
  height: 600px;
  width: 100%;
  border-bottom: 6px solid #ea676b;
  overflow: hidden;
}
.arrows {
  position: absolute;
  top: 57%;
  width: 100%;
  z-index: 996;
  pointer-events: none;
}

.arrows-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 940px;
  padding: 0 40px;
}

.chev {
  pointer-events: all;
  cursor: pointer;
}

.chev:hover {
  transform: scale(1.4);
}

.slide {
  position: absolute;
  width: 100%;
  height: 37.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-1 {
  background-color: #f06c64;
  z-index: 600;
}

.screen {
  position: absolute;
  cursor: pointer;
  z-index: 997;
}

.on-off-screen {
  background-color: black;
}

.iphone-yellow {
  position: relative;
  padding-right: 73px;
}

.iphone-blue {
  position: relative;
}

.black-screen-vertical {
  top: 66px;
  left: 15px;
  width: 188px;
  height: 333px;
}

.black-screen-horizontal {
  top: 15px;
  left: 61px;
  width: 333px;
  height: 188px;
}

.slide-2 {
  background-color: #648BF0;
}

.left-side-phone {
  position: relative;
  left: 1.8em;
  z-index: 499;
}

.iphone-green {
  z-index: 500;
}

.right-side-phone {
  position: relative;
  left: -1.68em;
  z-index: 499;
}

.active-slide {
  z-index: 700;
}
  /*----------------
    SERVICES SECTION
    ----------------*/

.our-services {
  box-sizing: border-box;
  border-bottom: 6px solid #ffffff;
  color: #666d89;
}

.our-services-wrapper {
  margin: 0 auto 0;
  padding: 59px 40px 0;
  max-width: 940px;
}

.our-services h1 {
  margin-bottom: 18px;
  font: 900 30px Lato;  
  letter-spacing: -0.15px;
  color: #666d89;
}

.our-services p {
  margin: 0;
  font: 300 18px Lato;
  line-height: 1.7em;
  text-align: justify;
}

.services-list {
  display: flex;
  justify-content:space-between;
  margin-top: 16px;
  margin-bottom: 59px;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
}

.services-list li {
  position: relative;
  margin: 28px 5px 0 80px;
}

.services-list li::before {
  content: "";
  position: absolute;
  left: -80px;
  top: 1px;
  box-sizing: border-box;
  height: 59px;
  width: 59px;
  margin: 2px 20px 0 0;
  border: 2px solid #666d89;
  border-radius: 29.5px;
  background-position: center;
  background-repeat: no-repeat;
}

.services-list li:nth-child(1)::before {
  left: -79px;
  background-image: url(./assets/icon/pen.png);
}

.services-list li:nth-child(2)::before {
  background-image: url(./assets/icon/bulb.png);
}

.services-list li:nth-child(3)::before {
  background-image: url(./assets/icon/heart.png);
}

.services-list li:nth-child(4)::before {
  left: -79px;
  background-image: url(./assets/icon/phone.png);
}

.services-list li:nth-child(5)::before {
  background-image: url(./assets/icon/bubble.png);
}

.services-list li:nth-child(6)::before {
  background-image: url(./assets/icon/star.png);
}

.services-list h2 {
  margin: 0;
  font: 900 17.5px Lato;
  letter-spacing: .27px;
  color: #666d89;
  list-style: none;
}

.services-list p {
  max-width: 220px;
  height: 6em;
  margin: 0;
  margin-top: 8px;
  overflow: hidden;
  font: 400 11px Lato;
  line-height: 2;
  color: #666d89;
  list-style: none;
  text-align: justify;
  letter-spacing: .4px;
}

.our-services .icon {
  position: absolute;
  box-sizing: border-box;
  height: 59px;
  width: 59px;
  margin: 2px 20px 0 0;
  border: 2px solid #666d89;
  border-radius: 29.5px;
}

/*-----------------
  PORTFOLIO SECTION
  -----------------*/

.portfolio {
  padding-bottom: 67px;
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
}

.portfolio-wrapper {
  max-width: 960px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
  color: #666d89;
}

.portfolio h1 {
  margin: 66px 0 33px 0;
  padding: 0 10px;
  font-size: 30px;
  font-weight: 900;
  line-height: 23px;
  letter-spacing: -.2px;
  color: #666d89
}

.portfolio h2 {
  padding: 0 10px;
  margin-bottom: 19px;
  font-size: 18px;
  font-weight: 300;
  line-height: 13px;
  color: #767e9e;
}

.portfolio nav ul {
  display: flex;
  padding: 0 10px;
}

.gallery-tab {
  box-sizing: border-box;
  padding: 0 7px;
  margin:0 0 7px 10px;
  border: 1px solid #666d89;
  border-radius: 5px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -.3px;
  font-kerning: normal;
  color: #767e9e;
  transition: border .1s;
  transition: color .1s;
  cursor: pointer;
}

.portfolio a {
  color: #767e9e;
}

.portfolio nav li:hover {
  border: 1px solid #dedede;
  color: #dedede;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  margin-top: 19px;
  max-height: 723px;
  overflow: hidden;
}

.gallery-all {
  height: 187px;
  width: 220px;
  margin: 10px;
  overflow: hidden;
  background-color: #464b5e;
  color: white;
  cursor: pointer;
}

.active-tab {
  border: 1px solid #dedede;
  color: #dedede;
}

.active-image {
  border: 5px solid #F06C64;
  margin: 5px;
  transition: border .3s, margin .3s;
}

.hidden-img {
  opacity: 0;
  transition: opacity, .5s;
}

/*--------
  ABOUT US
  -------- */

.about-us {
  box-sizing: border-box;
  border-bottom: 6px solid #ffffff;
  background-color: #f2f2f2;
}

.about-us-wrapper {
  max-width: 940px;
  padding: 0 40px;
  margin: 0 auto;
  overflow: auto;
}

.about-us h1 {
  margin-top: 66px;
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: 900;
  line-height: 23px;
  letter-spacing: -.2px;
  color: #666d89;
  letter-spacing: -.2px;
}

.about-us p {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: .15px;
  color: #666d89;
}

.profiles-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 67px;
}

.profile {
  width: 31.9%;
}

.profile h2 {
  height: 1em;
  margin: 14px 0 10px 0;
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
  color: #666d89;
  overflow: hidden;
}

.profile .photo {
  width: 100%;
  height: auto;
}

.profile p {  
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -.1px;
  color: #767e9e;
}

.social-media {
  display: flex;
  width: 100%;
}

.social-media i,
.profile .google-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  margin-top: 22px;
  margin-right: 8px;
  border: 1px solid #666d89;
  border-radius: 16px;
  color: #666d89;
  transition: color .1s;
  transition: border-color .1s;
  transition: background-color .1s;
}

.profile .google-plus {
  background-image: url(./assets/icon/icon_google+.png);
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image .1s;
}

.social-media i:hover,
.profile .google-plus:hover {
  color: #f2f2f2;
  border-color: #f2f2f2;
  background-color: #666d89;
}

.profile .google-plus:hover {
  background-image: url(./assets/icon/icon_google+_hover.png);
}

/*-------------------
  GET A QUOTE SECTION
  -------------------*/

.project-application {
  box-sizing: border-box;
  border-bottom: 6px solid #ea676b;
  background-color: #f06c64;
}

.content-box {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 940px;
}

.application-header h1 {
  padding-top: 59px;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: -.2px;
  color: #f0d8d9;
}

.application-header p {
  padding-top: 18px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
  color: #f0d8d9;
}

.application-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 44px;
  padding-bottom: 13px;
}

.application-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 240px;
}

.application-form input,
.application-form textarea,
.send-button {
  border: 1px solid #d6564f;
  border-radius: 3px;
  padding-left: 15px;
  margin-bottom: 16px;
  height: 36px;
  font-size: 12px;
  line-height: 38px;
  color: #f0d8d9;
  background-color: #d6564f;
  outline : none;
}

.send-button {
  margin: 0;
  padding: 0;
  width: 100px;
  text-align: center;
  align-self: flex-end;
  cursor: pointer;
}

.send-button:hover {
  border-color: #f0d8d9;
  background-color: #f0d8d9;
  color: #d6564f;
}

#detail {
  height: 202px;
  resize: none;
}

.application-form input::placeholder,
.application-form textarea::placeholder {
  color: #f48c8f;
}

.application-form input::-ms-input-placeholder,
.application-form textarea::-ms-input-placeholder {
  color: #f48c8f;
}

.contacts {
  margin-left: 21px;
  width: 300px;
  text-align: justify;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -.04px;
  color: #f0d8d9;
}

.contacts h2 {
  padding-bottom: 9px;
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: -.1px;
}

.contacts ul {
  margin-top: 20px;
}

.contacts a {
  position: relative;
  padding-left: 23px;
  color: #f0d8d9;
}

.contacts a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 13px;
  height: 13px;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts-icon span {
  display: none;
}

.contacts a:hover {
  text-decoration: underline;
}

.location::before {
  top: 2px;
  background-image: url(./assets/icon/location.png);
}

.phone::before {
  top: 1px;
  background-image: url(./assets/icon/phone_small.png)
}

.mail::before {
  top: 2px;
  background-image: url(./assets/icon/mail.png)
}

/*--------------
  FOOTER SECTION
  --------------*/

footer {
  color: #666d89;
  background-color: #2d303a;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 22px 40px;
  max-width: 940px;
  font: 400 12px "Myriad Pro", Arial;
}

.copyright {
  padding-bottom: 1px;
  padding-left: 2px;
}

.social-media-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-footer i,
footer .google-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  border: 1px solid #666d89;
  border-radius: 16px;
  font-size: 16px;
  color: #666d89;
  transition: color .1s;
  transition: border-color .1s;
  transition: background-color .1s;
}

footer .google-plus {
  background-image: url(./assets/icon/icon_google+.png);
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image .1s;
}

.social-media-footer i:hover,
footer .google-plus:hover {
  color: #2d303a;
  border-color: #666d89;
  background-color: #666d89;
}

footer .google-plus:hover {
  background-image: url(./assets/icon/icon_google+_footer_hover.png);
}

.message-preview {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: visibility .2s, opacity .2s;
}

.message-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-width: 500pxs;
  box-shadow: 2px 2px 5px 1px #000000;
  background-color: #f06c64;
  color: #f0d8d9;
  text-align: left;
  padding: 5px 10px;
}

.message-container h5,
.close {
  align-self: center;
  font-weight: 600;
}

.message-container p {
  text-align: left;
  padding: 5px 10px;
  font-size: 12px;
}

.message-container span {
  font-weight: 600;
}

.toogle-message {
  opacity: 1;
  visibility: visible;
  transition: visibility .2s, opacity .2s;
}

.close {
  cursor: pointer;
  text-align: center;
}

@media (max-width: 1019px) {

  .slider {
    height: 452px;
  }

  .slide {
    height: 452px;
  }

  .iphone-yellow {
    padding-right: 54px;
  }

  .iphone-yellow img {
    width: 181px;
    height: auto;
  }
  
  .iphone-blue img {
    width: 363px;
    height: auto;
  }

  .iphone-green {
    width: 192.2px;
    height: auto;
  }

  .black-screen-vertical {
    top: 49px;
    left: 10px;
    width: 142px;
    height: 251px
  }

  .black-screen-horizontal {
    top: 11px;
    left: 44px;
    width: 251px;
    height: 141.5px;
  }

  .left-side-phone,
  .right-side-phone {
    width: 118px;
    height: auto;
  }

  .left-side-phone {
    left: 1.3em;
  }

  .right-side-phone {
    left: -1.3em;
  }

  .services-list li {
    margin-top: 39px;
  }

  .gallery {
    max-height: 816px;
    justify-content: space-evenly;
  }
  
  .gallery-all {
    height: 184px;
    width: 216px;
    margin: 10px;
  }

  .active-image {
    border: 5px solid #F06C64;
    margin: 5px;
    transition: border .3s, margin .3s;
  }
}

@media (max-width: 767px) {

  #services,
  #portfolio,
  #about,
  #contact {
    scroll-margin-top: 71px;
  }

  header {
    box-sizing: border-box;
    height: 71px;
  }

  .burger-menu {
    display: block;
  }

  .header-wrapper {
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
  }

  .logo h1 {
    font-size: 20px;
  }

  header nav {
    display: none;
  }

  .active-header-mobile {
    position: fixed;
    top: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 71px;
    width: 278px;
    height: 100%;
    background-color: #2D303A;
    box-shadow: 0px 0px 15px 1px #000000;
    z-index: 1000;
    animation-direction: alternate;
    animation-duration: .3s;
    animation-name: menu-slide;
  }
  
  @keyframes menu-slide {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }
  
  .header-background{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
    display: none;
    opacity: 0;
    transition: opacity 3s;
  }
  
  .header-background-active {
    display: block;
    opacity: 1;
  }


  .active-header-mobile .logo {
    line-height: 65px;
    align-self: flex-start;
  }

  .active-header-mobile nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    margin-top: 10px;
    margin-bottom: 39.4vh;
  }

  .active-header-mobile nav span {
    display: none;
  }

  .active-header-mobile nav a {
    font-size: 24px;
    padding: 0;
    margin-top: 30px;
  }

  .slider {
    padding-top: 71px;
  }

  .slide,
  .slider {
    height: 221px;
  }

  .arrows-wrapper {
    padding: 0 2.57%;
    }

  .chev {
    height: 25px;
    width: auto;
  }

  .iphone-yellow {
  box-sizing: border-box;
  margin-right: 7.2%;
  padding-right: 0;
  }

  .iphone-yellow img {
    width: 88.3px;
    height: 177.61px;
  }

  .iphone-blue img {
    width: 177.61px;
    height: 88.3px;
  }

  .black-screen-vertical {
    top: 24px;
    left: 5px;
    width: 70px;
    height: 123px
  }

  .black-screen-horizontal {
    top: 5px;
    left: 22px;
    width: 122px;
    height: 69.5px;
  }

  .iphone-green {
    height: 188.6px;
    width: auto;
  }

  .left-side-phone,
  .right-side-phone {
    height: 115.45px;
    width: auto;
  }

  .left-side-phone {
    left: .5em;
  }

  .right-side-phone {
    left: -.7em;
  }

  .our-services-wrapper {
    padding: 0 32px;
  }

  .portfolio {
    padding-bottom: 42px;
  }

  .gallery {
    max-height: 558px;
  }

  .portfolio h2 {
    line-height: 30px;
  }

  .gallery-all {
    margin: 6px;
  }

  .gallery-all img,
  .gallery-all {
    width: 151px;
    height: 128px;
  }

  .active-image {
    border: 3px solid #F06C64;
    margin: 3px;
    transition: border .3s, margin .3s;
  }

  .portfolio-wrapper {
    padding: 0 24px;
  }

  .portfolio h1,
  .portfolio h2,
  .portfolio nav ul {
    padding: 0 6px;
  }

  .gallery-nav {
    width: auto;
  }

  .about-us-wrapper {
    padding: 0 30px;
  }

  .about-us h1 {
    margin-top: 33px;
  }
  .profiles-container {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 45px;
  }

  .profile {
    margin-top: 34px;
    width: 100%;
  }

  .social-media i,
  .profile .google-plus {
    margin-top: 15px;
  }

  .application-wrapper {
    flex-wrap: wrap;
    padding-bottom: 42px;
  }
  
  form .send-button {
    width: 100%;
    margin-bottom: 32px;
  }

  .contacts {
    width: 100%;
    margin-left: 0;
  }
  
  .footer-wrapper {
    justify-content: center;
  }
  
  footer p {
    display: none;
  }
}

@media (max-width: 374px) {

  .gallery-filter {
    flex-wrap: wrap;
  }
}